.App {
  text-align: center;
}

.App-header {
  background-color: #f82323;
  padding: 10px;
  color: white;
  border-bottom: 10px solid  rgba(0, 0, 255, 0.768);
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
}
.options{
  
  font-weight: 800;
  input{
    background-color: rgba(0, 0, 0, 0.768);
    margin:20px;
    border: 2px solid red;
    padding: 20px;
  }
}
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 1px solid #ccc;
  text-wrap: wrap;
  padding: 20px;
  margin: 10px;
  width: 250px;
  height: 100px;
  cursor: pointer;
  border-radius: 15px;
  border-top:5px solid blue;
  border-bottom: 5px solid red;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.card:hover {
  background-color: rgba(0,0,0,0.2);
  color: blue;
  scale: 1.1;
}

.dropdown-container {
  margin: 20px;
}

.dropdown {
  margin: 10px;
}

.quiz {
  margin: 20px;
}

.question-section {
  margin-bottom: 20px;
}

.answer-section button {
  margin: 5px;
  padding: 10px;
}
